.draggable-container-1 {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #000;
  }
  
  .draggable-container-2 {
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 1px solid #000;
  }
  
  .inner-container {
    width: 75px;
    height: 75px;
    position: relative;
    border: 1px solid rgb(0, 117, 128);
  }
  
  .draggable-box-2 {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid blue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .draggable-box-1 {
    /* width: 50px;
    height: 50px; */
    background-color: #ccc;
    border: 1px solid red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .f-x {
    border: 1px solid blue;
    background-color: beige;
  }
  .disable-card{
    user-select: none !important;
  
    opacity: 0.1;
  }

  .form-range{
    border-radius: 0% !important;
  }